{% extends "base.html" %}
{% load static %}
{% load med_cons_extras %}
{% load bootstrap4 %}

{% block content %}
<div class="row">
  <div class="col">
    <h2>Nuevo Tipo de Animal</h2>
    <a class="btn btn-secondary" href="{% url 'animalType-list' %}">
      <i class="fa fa-chevron-left" aria-hidden="true"></i> Volver
    </a>
  </div>
</div>
<div class="row row-space">
  <div class="col">
    <form method="post" class="form">
      {% csrf_token %}
      {% bootstrap_form form layout="horizontal" %}
      {% buttons %}
          <button type="submit" class="btn btn-primary">
            <i class="fa fa-floppy-o" aria-hidden="true"></i> Crear
          </button>
      {% endbuttons %}
    </form>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
  var a = document.getElementById('id_name')
  a.focus()
</script>
{% endblock %}
