{% extends "base.html" %}
{% load static %}

{% block content %}

    <div id="target"></div>
    <div class="row justify-content-md-left">
      {% for patient in object_list %}
      <div class="col-12 col-md-auto col-pading-tb">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">{{ patient.name }}</h4>
          </div>
          <div class="card-block">
            <p class="card-text">{{ patient.description }}</p>
            <p class="card-text"><small class="text-muted">Raza {{ patient.dog_breed }}</small></p>
            <p class="card-text"><small class="text-muted">Creado por: {{ patient.create_by }}</small></p>
          </div>
          <footer class="card-footer">
            <a href="#" class="btn btn-primary">Detalle</a>
          </footer>
        </div>
      </div>
      {% endfor %}
    </div>
{% endblock %}
{% block scripts %}
{% endblock %}
