{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
  <div class="container">
    <div class="row justify-content-md-left">
      <div class="col-12 col-md-auto col-pading-tb">
        <h1>Nuevo Paciente</h1>
        <form method="POST" class="post-form" enctype="multipart/form-data">{% csrf_token %}
            {% bootstrap_form form layout="horizontal" %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                  <i class="fa fa-floppy-o" aria-hidden="true"></i> Actualizar
                </button>
            {% endbuttons %}
        </form>
      </div>
    </div>
  </div>
{% endblock %}
