{% load static %}

<!DOCTYPE html>
<html lang="es">
  <head>
      <script type="text/javascript">
        var base_url = 'http://localhost:8000/api/';
      </script>
      <meta charset="utf-8"/>
      <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
      <meta name="viewport" content="width=device-width, initial-scale=1"/>
      <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}" />
      <link rel="stylesheet" href="{% static 'third_party/bootstrap/dist/css/bootstrap.min.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'sticky-footer-navbar.css' %}" />
      <link rel="stylesheet" href="{% static 'third_party/tether/dist/css/tether.min.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/styles.css' %}" />

      {% block head %}{% endblock %}
  </head>
  <body>
{% block navbar %}
    <nav class="navbar navbar-fixed-top navbar-toggleable-sm navbar-inverse bg-primary mb-3">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="flex-row d-flex">
        <a class="navbar-brand mb-1" href="#">Vetadmin</a>
        <button type="button" class="hidden-md-up navbar-toggler" data-toggle="offcanvas" title="Toggle responsive left sidebar">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse" id="collapsingNavbar">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">Home</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#features">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#myAlert" data-toggle="collapse">Wow</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="" data-target="#myModal" data-toggle="modal">Cerrar Sesión</a>
            </li>
        </ul>
    </div>
</nav>
{% endblock %}
<div class="container-fluid" id="main">
    <div class="row row-offcanvas row-offcanvas-left">
        <div class="col-md-3 col-lg-2 sidebar-offcanvas" id="sidebar" role="navigation">
            <ul class="nav flex-column pl-1">
                <li class="nav-item"><a class="nav-link" href="#">Inicio</a></li>
                <li class="nav-item active">
                  <a class="nav-link" href="#submenu1" data-toggle="collapse" data-target="#submenu1">Paciente ▾</a>
                  <ul class="list-unstyled flex-column pl-3 collapse {% if request.resolver_match.url_name == 'patient-list' or request.resolver_match.url_name == 'patient-detail'  or request.resolver_match.url_name == 'patient-new' %}show{% endif %}" id="submenu1" aria-expanded="false">
                    <li class="nav-item"><a class="nav-link nav-link-sub {% if request.resolver_match.url_name == 'patient-list' %}active{% endif %}" href="{% url 'patient-list' %}">Listado</a></li>
                  </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="#">Vademecum</a></li>
                <li class="nav-item"><a class="nav-link" href="">Controles</a></li>
                <li class="nav-item"><a class="nav-link" href="">Clientes</a></li>
                <li class="nav-item"><a class="nav-link" href="">Metricas</a></li>
                <li class="nav-item"><a class="nav-link" href="">Veterinarios</a></li>
                <li class="nav-item"><a class="nav-link" href="">Info</a></li>
            </ul>
        </div>

  <!--/col-->
        <div class="col-md-9 col-lg-10 main">
            {% block content %}{% endblock %}
        </div>
      </div>
    </div>

    <script src="{% static 'third_party/tether/dist/js/tether.min.js' %}" charset="utf-8"></script>
    <script src="{% static 'third_party/jquery/dist/jquery.min.js' %}" charset="utf-8"></script>
    <script src="{% static 'third_party/bootstrap/dist/js/bootstrap.min.js' %}" charset="utf-8"></script>

    <script src="{% static 'dashboard/js/scripts.js' %}" charset="utf-8"></script>

    {% block scripts %}{% endblock %}
  </body>
</html>
